body {
    background-image: url('../imagenes/FONDO.png');
    background-size: cover;
    background-position: center;
    font-family: 'Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

#titulo {
    font-size: 24px; /* Tamaño del título */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-top: 20px; /* Espacio en la parte superior para separarlo */
    margin-bottom: 20px; /* Espacio entre el título y el contenido */
    text-align: center;
    position: relative;
    z-index: 10; /* Asegura que el título esté sobre otros elementos */
}

.fondo-transparente {
    margin-top: 60px; /* Ajusta este margen para que el contenido esté debajo del título */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Transparencia de fondo */
    border-radius: 10px;
}


.notas {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio reducido para dispositivos móviles */
    align-items: center;
    z-index: 1;
    flex-wrap: wrap; /* Permitir que las notas se ajusten en múltiples filas */
    max-width: 100%; /* Limitar el ancho máximo */
}

.nota-item {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.nota {
    width: 60px; /* Reducido para dispositivos móviles */
    height: auto;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.nota:hover {
    opacity: 1;
}

.nota-item p {
    font-size: 14px; /* Reducido para dispositivos móviles */
    color: black;
    margin-top: 5px;
    font-weight: bold;
}



#btn_continuar, #btn_regresar {
    font-family: 'Sans', sans-serif;
    font-size: 14px; /* Reducido para móviles */
    padding: 10px 20px; /* Reducido el padding */
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btn_continuar {
    margin-top: 20px;
    position: absolute;
    top: 850px;
    /*Ajustadoparaqueestémáscercadelcentro*/left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#btn_regresar {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 15px; /* Padding reducido para botón de "volver" */
}

#btn_continuar:hover, #btn_regresar:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}

#btn_continuar:active, #btn_regresar:active {
    transform: scale(1);
}
