/* Estilos generales */
body.bg-cover {
    background-image: url('../imagenes/FONDO.png');
    background-size: cover;
    background-position: center;
    font-family: 'Sans', sans-serif;
    margin: 0;
}

#t_penta {
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#btn_regresar {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Sans', sans-serif;
}

#btn_regresar:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}

#btn_regresar:active {
    transform: scale(1);
}

/* Fondo transparente detrás del pentagrama */
.fondo-transparente {
    width: 80%;
    max-width: 510px;
    height: 150px;
    background-color: rgba(216, 212, 212, 0.488);
    border-radius: 10px;
    z-index: 0;
}

/* Pentagrama */
.pentagrama {
    width: 80%;
    max-width: 500px;
    height: 130px;
    position: relative;
    top:-150px;
    margin-bottom: 20px;
    z-index: 1;
}

.linea {
    height: 3px;
    background-color: black;
    position: absolute;
    width: 100%;
}

.linea1 { top: 10px; }
.linea2 { top: 30px; }
.linea3 { top: 50px; }
.linea4 { top: 70px; }
.linea5 { top: 90px; }

.nota {
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    cursor: grab;
}

/* Posiciones iniciales de las notas */
.nota1 { top: 190px; left: 140px; }
.nota2 { top: 190px; left: 170px; }
.nota3 { top: 190px; left: 200px; }
.nota4 { top: 190px; left: 230px; }
.nota5 { top: 190px; left: 260px; }
.nota6 { top: 190px; left: 290px; }
.nota7 { top: 190px; left: 320px; }
#nombreNota {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    position: relative;
    top:-60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
#btn_continuar {
    font-size: 20px;
    padding: 15px 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    top: -60px;
    left: 89px;
    transform: translateX(-50%);
}

#btn_continuar:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}

#btn_continuar:active {
    transform: scale(1);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    #t_penta {
        font-size: 1.75rem;
    }

    #nombreNota {
        font-size: 1rem;
    }
}
